.containing{
	width:100% !important;
	transition:0.5
}
.table-row{
	width:100%;
	margin:20px 0;
	transition:0.5;
	
}
.table-column{
	display:inline-block;
	padding:10px;
	width:30% !important;
	height:40% !important;
	transition:0.5s;
	margin-left:27px;
	
}
.table-column a{
	position:static;
	text-decoration:none !important;
	padding:5px;
	display:block;
	text-align:center;
	margin-top:180px;
	-webkit-animation: mymove 5s infinite;
	-webkit-animation-timing-function: ease-in;
}
.table-column a:hover{
	-webkit-animation: none;
	/*animation-play-state: paused;*/
	color:black !important;
}
@-webkit-keyframes mymove {
    0% {color:brown;}
    25% {color:orange;}
	50%	{color:red;}
	75%	{color:green;}
	100%{color:purple;}
	}

.table-row:nth-child(1) .table-column:nth-child(1){
	border:8px solid #f55c6d;
	box-sizing:border-box;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2) , 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius:5px 50px 30px;

}
.table-row:nth-child(1) .table-column:nth-child(2){
	border:8px solid #1eaace;
	box-sizing:border-box;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2) , 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius:30px 50px 5px 15px;
}
.table-row:nth-child(1) .table-column:nth-child(3){
	border:8px solid #f55c6d;
	box-sizing:border-box;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2) , 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius:30px 5px 50px;
}
.table-row:nth-child(2) .table-column:nth-child(1){
	border:8px solid #1eaace;
	box-sizing:border-box;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2) , 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius:5px 50px 30px;
}

.table-row:nth-child(2) .table-column:nth-child(2){
	border:8px solid #f55c6d;
	box-sizing:border-box;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2) , 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius:30px 50px 5px 15px;
}
.table-row:nth-child(2) .table-column:nth-child(3){
	border:8px solid #1eaace;
	box-sizing:border-box;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2) , 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius:30px 5px 50px;
}

@media(max-width:900px){
	.containing{
		margin:0;
		padding:10px;
		width:100%;
	}
	.table-column{
		width:100%;
		display:block !important;  /*arange one after the other*/
		margin:10px 0;
		border:none;
		box-sizing:border-box;
		}
	.table-column a{
		position:fixed;
	}
	.table-row{
		margin: 0;
	
	}
}